<%= form_for(@answer) do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company %>

  <div id="welcome" class="panel panel-primary">
    <div class="panel-heading"><%= t('welcome') %></div>
    <div class="panel-body">
      <%= image_tag("logotipo.png", class: 'logo') %>
      <div id="username-group" class="from-group">
        <!--%= f.label :username %-->
        <br><br>
        <%= f.text_field :username, class: 'form-control', :placeholder => "Nombre completo" %>
      </div>
      <div class="from-group">
        <%= button_tag 'Entrar', id: 'welcome-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="values" class="panel panel-primary">
    <div class="panel-heading"><%= t('values') %></div>
    <div class="panel-body">
      <div class="checkbox values-attribute">
        <% t('values_array').each do |value| %>
          <%= f.label value %>
          <%= f.radio_button :values, value, checked: true %>
        <% end %>
      </div>
      <div class="from-group values-attribute">
        <!--%= f.label :values_description %-->
        <%= f.text_field :values_description, class: 'form-control', :placeholder => "¿Por que?" %>
      </div>
      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'values-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="company" class="panel panel-primary">
    <div class="panel-heading"><%= t('company_attributes') %></div>
    <div class="panel-body">
      <div class="form-group company-attribute">
        <%= f.text_field :company_attribute_1, class: 'form-control' , :placeholder => "Dato 1" %>
      </div>
      <div class="form-group company-attribute">
        <%= f.text_field :company_attribute_2, class: 'form-control' , :placeholder => "Dato 2" %>
      </div>
      <div class="form-group company-attribute">
        <%= f.text_field :company_attribute_3, class: 'form-control' , :placeholder => "Dato 3" %>
      </div>
      <div class="form-group company-attribute">
        <%= f.text_field :company_attribute_4, class: 'form-control' , :placeholder => "Dato 4" %>
      </div>
      <div class="form-group company-attribute">
        <%= f.text_field :company_attribute_5, class: 'form-control' , :placeholder => "Dato 5" %>
      </div>
      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'company-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="action" class="panel panel-primary">
    <div class="panel-heading"><%= t('action_taken') %></div>
    <div class="panel-body">
      <div class="form-group action-attribute">
        <%= f.text_field :action_taken, class: 'form-control'%>
      </div>

      <%= f.label t('result') %>
      <div class="form-group action-attribute">
        <%= f.label 'Si' %>
        <%= f.radio_button :action_result, 'Si', checked: true %>
      </div>
      <div class="form-group action-attribute">
        <%= f.label 'No' %>
        <%= f.radio_button :action_result, 'No', id: 'no' %>
      </div>
      <div id="action_missing" class="form-group">
        <%= f.label :action_missing %>
        <%= f.text_field :action_missing, class: 'form-control'%>
      </div>
      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'action-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="work-ideal" class="panel panel-primary">
    <div class="panel-heading"><%= t('work_ideal') %></div>
    <div class="panel-body">
      <div class="form-group work-ideal-attribute">
        <%= f.text_field :work_attribute_1, class: 'form-control' %>
      </div>
      <div class="form-group work-ideal-attribute">
        <%= f.text_field :work_attribute_2, class: 'form-control' %>
      </div>
      <div class="form-group work-ideal-attribute">
        <%= f.text_field :work_attribute_3, class: 'form-control' %>
      </div>
      <div class="form-group work-ideal-attribute">
        <%= f.text_field :work_attribute_4, class: 'form-control' %>
      </div>
      <div class="form-group work-ideal-attribute">
        <%= f.text_field :work_attribute_5, class: 'form-control' %>
      </div>
      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'work-ideal-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="work" class="panel panel-primary">
    <div class="panel-heading"><%= t('work_attributes', company: @answer.company.capitalize) %></div>
    <div class="panel-body">
      <div class="form-inline work-attribute">
        <%= label_tag '' %>
        <%= f.number_field :work_attribute_value_1, class: 'form-control', in: 0..10 %>
      </div>
      <div class="form-inline work-attribute">
        <%= label_tag '' %>
        <%= f.number_field :work_attribute_value_2, class: 'form-control', in: 0..10 %>
      </div>
      <div class="form-inline work-attribute">
        <%= label_tag '' %>
        <%= f.number_field :work_attribute_value_3, class: 'form-control', in: 0..10 %>
      </div>
      <div class="form-inline work-attribute">
        <%= label_tag '' %>
        <%= f.number_field :work_attribute_value_4, class: 'form-control', in: 0..10 %>
      </div>
      <div class="form-inline work-attribute">
        <%= label_tag '' %>
        <%= f.number_field :work_attribute_value_5, class: 'form-control', in: 0..10 %>
      </div>
      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'work-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="work-select" class="panel panel-primary">
    <div class="panel-heading"><%= t('work_attribute_selected') %></div>
    <div class="panel-body">
      <div class="checkbox work-select-attribute" id="work_attribute_selected_index">
      </div>
      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'work-select-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="commitment" class="panel panel-primary">
    <div class="panel-heading"><%= t('commitment', attribute: 'ATTRIBUTE') %></div>
    <div class="panel-body">
      <div class="form-group commitment-attribute">
        <%= f.label :commitment_action %><br>
        <%= f.text_field :commitment_action, class: 'form-control' %>
      </div>
      <div class="form-group commitment-attribute">
        <%= f.label :commitment_date %><br>
        <%= f.date_field :commitment_date, value: Date.tomorrow %>
      </div>

      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'commitment-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="feeling" class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="form-group feeling-attribute">
        <%= f.label :current_feeling %><br>
        <%= f.number_field :current_feeling, class: 'form-control', in: 0..10 %>
      </div>

      <div class="from-group">
        <%= button_tag 'Siguiente', id: 'feeling-next', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="responsible" class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="form-group responsible-attribute">
        <%= f.label :responsible %><br>
        <%= f.number_field :responsible, class: 'form-control', in: 0..10 %>
      </div>
      <div class="actions">
        <%= f.submit t('submit'), id: 'submit' %>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function(){
     $('input,textarea').focus(function () {
        $(this).data('placeholder', $(this).attr('placeholder'))
               .attr('placeholder', '');
      }).blur(function () {
        $(this).attr('placeholder', $(this).data('placeholder'));
      })
    });
  </script>
  <script>
  $(document).ready(function(){
  var elActive = '';
    $.fn.selectCF = function( options ) {
 
        // option
        var settings = $.extend({
            color: "#FFF", // color
            backgroundColor: "#50C9AD", // background
      change: function( ){ }, // event change
        }, options );
 
        return this.each(function(){
      
      var selectParent = $(this);
        list = [],
        html = '';
        
      //parameter CSS
      var width = $(selectParent).width();
      
      $(selectParent).hide();
      if( $(selectParent).children('option').length == 0 ){ return; }
      $(selectParent).children('option').each(function(){
        if( $(this).is(':selected') ){ s = 1; title = $(this).text(); }else{ s = 0; }
        list.push({ 
          value: $(this).attr('value'),
          text: $(this).text(),
          selected: s,
        })
      })
      
      // style
      var style = " background: "+settings.backgroundColor+"; color: "+settings.color+" ";
      
      html += "<ul class='selectCF'>";
      html +=   "<li>";
      html +=     "<span class='arrowCF ion-chevron-right' style='"+style+"'></span>";
      html +=     "<span class='titleCF' style='"+style+"; width:"+width+"px'>"+title+"</span>";
      html +=     "<span class='searchCF' style='"+style+"; width:"+width+"px'><input style='color:"+settings.color+"' /></span>";
      html +=     "<ul>";
      $.each(list, function(k, v){ s = (v.selected == 1)? "selected":"";
      html +=       "<li value="+v.value+" class='"+s+"'>"+v.text+"</li>";})    
      html +=     "</ul>";
      html +=   "</li>";
      html += "</ul>";
      $(selectParent).after(html);
      var customSelect = $(this).next('ul.selectCF'); // add Html
      var seachEl = $(this).next('ul.selectCF').children('li').children('.searchCF');
      var seachElOption = $(this).next('ul.selectCF').children('li').children('ul').children('li');
      var seachElInput = $(this).next('ul.selectCF').children('li').children('.searchCF').children('input');
      
      // handle active select
      $(customSelect).unbind('click').bind('click',function(e){
        e.stopPropagation();
        if($(this).hasClass('onCF')){ 
          elActive = ''; 
          $(this).removeClass('onCF');
          $(this).removeClass('searchActive'); $(seachElInput).val(''); 
          $(seachElOption).show();
        }else{
          if(elActive != ''){ 
            $(elActive).removeClass('onCF'); 
            $(elActive).removeClass('searchActive'); $(seachElInput).val('');
            $(seachElOption).show();
          }
          elActive = $(this);
          $(this).addClass('onCF');
          $(seachEl).children('input').focus();
        }
      })
      
      // handle choose option
      var optionSelect = $(customSelect).children('li').children('ul').children('li');
      $(optionSelect).bind('click', function(e){
        var value = $(this).attr('value');
        if( $(this).hasClass('selected') ){
          //
        }else{
          $(optionSelect).removeClass('selected');
          $(this).addClass('selected');
          $(customSelect).children('li').children('.titleCF').html($(this).html());
          $(selectParent).val(value);
          settings.change.call(selectParent); // call event change
        }
      })
        
      // handle search 
      $(seachEl).children('input').bind('keyup', function(e){
        var value = $(this).val();
        if( value ){
          $(customSelect).addClass('searchActive');
          $(seachElOption).each(function(){
            if( $(this).text().search(new RegExp(value, "i")) < 0 ) {
              // not item
              $(this).fadeOut();
            }else{
              // have item
              $(this).fadeIn();
            }
          })
        }else{
          $(customSelect).removeClass('searchActive');
          $(seachElOption).fadeIn();
        }
      })
      
    });
    };
  $(document).click(function(){
    if(elActive != ''){
      $(elActive).removeClass('onCF');
      $(elActive).removeClass('searchActive');
    }
  })
}( jQuery ));

$(function(){
  var event_change = $('#event-change');
  $( ".select" ).selectCF({
    change: function(){
      var value = $(this).val();
      var text = $(this).children('option:selected').html();
      console.log(value+' : '+text);
      event_change.html(value+' : '+text);
    }
  });
  $( ".test" ).selectCF({
    color: "#FFF",
    backgroundColor: "#A4A4A4",
  });
})
  </script>
  


<% end %>
