<div id="answer" class="panel panel-primary">
<div class="panel-heading"><%= t('thanks') %></div>
<div class="panel-body">
  <%= image_tag("logotipo.png", class: 'logo-small') %>
  <div class="center-text">
  <h2><%= @answer.username %></h2>
  </div>
  <ul>
    <% (1..5).each do |index| %>
      <% if index == @answer.work_attribute_selected_index %>
        <li>
          <b>
            <%= @answer.send("work_attribute_#{index}") %> - <%= @answer.send("work_attribute_value_#{index}") %>
          </b>
        </li>
      <% else %>
        <li>
          <%= @answer.send("work_attribute_#{index}") %> - <%= @answer.send("work_attribute_value_#{index}") %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p><%= t('commitment_note') %> <%= @answer.commitment_action %> antes del <%= @answer.commitment_date.strftime("%d de %b de %Y")%></p>
</div>
<div class="panel-footer"><%= t('footer') %></div>

</div>
