<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @answer.username %>
</p>

<p>
  <strong>Company attribute 1:</strong>
  <%= @answer.company_attribute_1 %>
</p>

<p>
  <strong>Company attribute 2:</strong>
  <%= @answer.company_attribute_2 %>
</p>

<p>
  <strong>Company attribute 3:</strong>
  <%= @answer.company_attribute_3 %>
</p>

<p>
  <strong>Company attribute 4:</strong>
  <%= @answer.company_attribute_4 %>
</p>

<p>
  <strong>Company attribute 5:</strong>
  <%= @answer.company_attribute_5 %>
</p>

<p>
  <strong>Action taken:</strong>
  <%= @answer.action_taken %>
</p>

<p>
  <strong>Action date:</strong>
  <%= @answer.action_date %>
</p>

<p>
  <strong>Action place:</strong>
  <%= @answer.action_place %>
</p>

<p>
  <strong>Action result:</strong>
  <%= @answer.action_result %>
</p>

<p>
  <strong>Work attribute 1:</strong>
  <%= @answer.work_attribute_1 %>
</p>

<p>
  <strong>Work attribute 2:</strong>
  <%= @answer.work_attribute_2 %>
</p>

<p>
  <strong>Work attribute 3:</strong>
  <%= @answer.work_attribute_3 %>
</p>

<p>
  <strong>Work attribute 4:</strong>
  <%= @answer.work_attribute_4 %>
</p>

<p>
  <strong>Work attribute 5:</strong>
  <%= @answer.work_attribute_5 %>
</p>

<p>
  <strong>Work attribute value 1:</strong>
  <%= @answer.work_attribute_value_1 %>
</p>

<p>
  <strong>Work attribute value 2:</strong>
  <%= @answer.work_attribute_value_2 %>
</p>

<p>
  <strong>Work attribute value 3:</strong>
  <%= @answer.work_attribute_value_3 %>
</p>

<p>
  <strong>Work attribute value 4:</strong>
  <%= @answer.work_attribute_value_4 %>
</p>

<p>
  <strong>Work attribute value 5:</strong>
  <%= @answer.work_attribute_value_5 %>
</p>

<p>
  <strong>Work attribute selected index:</strong>
  <%= @answer.work_attribute_selected_index %>
</p>

<p>
  <strong>Commitment action:</strong>
  <%= @answer.commitment_action %>
</p>

<p>
  <strong>Commitment date:</strong>
  <%= @answer.commitment_date %>
</p>

<p>
  <strong>Commitment time:</strong>
  <%= @answer.commitment_time %>
</p>

<p>
  <strong>Company:</strong>
  <%= @answer.company %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
