<div id="answer" class="panel panel-primary">
<div class="panel-heading"><%= t('thanks') %></div>
<div class="panel-body">
  <%= image_tag("logotipo.png", class: 'logo-small') %>
  <div class="center-text">
  <h2><%= @answer.username %></h2>
  </div>
  <ul>
    <p>Aspectos que propones mejorar. </p>
    <% (1..5).each do |index| %>
      
        <li>
          <b>
            <%= @answer.send("work_attribute_#{index}") %> - <%= @answer.send("work_attribute_value_#{index}") %>
          </b>
        </li>
    
      
    <% end %>
  </ul>

</div>
<div class="panel-footer"><%= t('footer') %></div>

</div>
